*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(161, 161, 243);
}
header{

}
.nav-container{

}
.colorBox-container{

}
.color{

}
.lightpink{
    background-color: rgb(250, 154, 169);
}
.lightyellow{
    background-color: rgb(245, 245, 96);
}
.lightgreen{
    background-color: rgb(141, 246, 141);
}
.actionBox-container{
    
}