* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
}

.blue {
  background-color: blue;
  box-shadow: 0px 0px 6px 5px;
}

.green {
  background-color: green;
  box-shadow: 0px 0px 6px 5px;
}

.red {
  background-color: red;
  box-shadow: 0px 0px 6px 5px;
}

.card {
  border: 1px solid;
  height: 10rem;
  width: 10rem;
  margin: 2rem;
}
